<div class="halloween-bg"></div>
<div class="fog-container">
  <div class="fog-layer"></div>
  <div class="fog-layer"></div>
  <div class="fog-layer"></div>
</div>
<div class="rain-container" id="rain-container"></div>
<div class="lightning-container">
  <div class="lightning-flash"></div>
</div>

